/* general tags */

body {
    width: 100vw;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #eeeeee;
    font-size: 1vw;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}

h1, h2, h3, h4, h5, h6 P{
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3em;
}

p {
    padding: 0;
    margin: 0;
}

/* general tags end */





/* Header */

.header {
    width: 100vw;
    display: grid;
    height: 9em;
    background-color: #9A7CC3;
    grid-template-columns: 1fr;
    place-items: center;
    background-color: #9A7CC3;
    border-bottom: solid black 0.2vh;
}

/* Header end */





/* Navbar */

.navbar{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(5, max-content);
    background-color: #ab91d0;
    margin-bottom: 2.5vw;
    height: 3em;
    place-items: center;
}

.navbar-item {
    display: flex;
    align-items: center;
    padding: 0 2.5vw 0 2.5vw;
    height: 100%;
}

.navbar-item:hover {
    background-color: #9A7CC3;
}

/* Navbar end */





/* Leaderboard Fullgame start */

.leaderboard-fullgame {
    width: 95%;
    display: grid;
    grid-template-columns: 4fr 8fr 4fr;
    gap: 2.5vw;
    padding: 0 2.5vw 0 2.5vw;
    align-items: start;
}

.leaderboard-fullgame-item{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1vh;
    border: 0.15vw solid #9CC9F5;
    background-color: #ffffff;
    padding: 1em;
    border-radius: 0.5em;
}

.leaderboard-fullgame-item-header {
    text-align: center;
}

.leaderboard-fullgame-columns-runs {
    text-align: left;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr 0.75fr 0.75fr;
}

.leaderboard-fullgame-columns-runs > div:nth-child(5n + 3), 
.leaderboard-fullgame-columns-runs > div:nth-child(5n + 4), 
.leaderboard-fullgame-columns-runs > div:nth-child(5n + 5) {
    text-align: center;
}

.leaderboard-fullgame-recent-runs-columns-runs {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.leaderboard-fullgame-recent-runs-columns-runs > div:nth-child(2n+2) {
    text-align: center;
}

.nextpage-buttons {
    text-align: center;
}
.nextpage {
    margin: 1vw;
}

.leaderboard-fullgame-categories-ILtoggle {
    display: flex;
    gap: 1vw;
}

.IL-toggle {
    display: flex;
    background-color: white;
    border-radius: 0.25em;
    border: solid 0.25em black;
    align-items: center;
    justify-content: start;
    height: 1.5em;
    padding: 0 0.15em 0 0.15em;
    gap: 0.5em;
}

.IL-toggle-fullgame {
    background-color: pink;
}
.IL-toggle-IL {
    white-space: nowrap;
    background-color: orange;
}

.leaderboard-fullgame-category-buttons {
    width: 100%;
    z-index: 2;
    height: 2em;
}

.leaderboard-fullgame-dropdown{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}

.leaderboard-fullgame-category-button {
    padding: 0 0.5em 0 0.5em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: start;
    background: #9CC9F5;
    display: flex;
    justify-content: space-between; /* pushes items to edges */
    align-items: center; 
}

.leaderboard-fullgame-category-button:hover {
    background-color: #88bdf3;
}

.leaderboard-fullgame-category-button-dropdown {
    display: none;
}

.leaderboard-fullgame-category-button-main {
    border-radius: 0.25em 0.25em 0.25em 0.25em;
}

.dropdown-arrow {
    text-align: right;
}

.leaderboard-fullgame-dropdown a:last-child{
    border-radius: 0 0 0.25em 0.25em;
}


/* Leaderboard Fullgame end */




















