body {
    background-color: #202020;
    color: #fff; /* default text color */
    font-family: sans-serif;
  }

a {
    color: #FFF;
    text-decoration: none;
}

* {
transition: all 0.2s ease-in-out;
}




.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
  }

.leaderboardfullgame-categories-container {
    background-color: #191919;
    border: 2px solid #9CC9F5;
    border-radius: 12px;
    padding: 20px;
    max-width: 700px;
    margin: 40px auto;
    box-shadow: 0 0 15px rgba(156, 201, 245, 0.2);
}


.runs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: large;
}

.run, .run-header {
    display: grid;
    align-items: center;
    grid-template-columns: 5fr 15fr 15fr 15fr 10fr;
}

.run-header > div:nth-child(5n + 4), .run-header > div:nth-child(5n + 3), .run-header > div:nth-child(5n + 5){
    margin: auto;
}

.run > div:nth-child(5n + 5), .run > div:nth-child(5n+4){
    margin: auto;
}

.run-link{
    margin: auto;
}

.button-mode {
    text-decoration: none;
    padding: 10px 16px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.2s;
}

.column-names{
    padding-top: 10px;
}

hr {
    margin: 0px;
    width: 700px;
    border-color: #000000;
}

.buttons {
    text-align: center;
    padding-top: 10px;
}

.leaderboardfullgame-categories-container{
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}

.categories {
    position: relative;
    display: inline-block;
    min-width: 700px;
    font-size: 15px;
}

.dropdown-button {
    font-size: 15px;
    text-align: left;
    width: 100%;
    background-color: #5EA4EF;
    color: #FFF;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 12px;
}

.dropdown-button:hover {
    background-color: #9A7CC3;
    color: #fff;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;    
    background-color: #5EA4EF;
    top: 0;
    left: 0;
    color: #202020;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.categories:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.dropdown-content a:hover {
    background-color: #717171;
}

.nextpage{
    margin: 10px;
}
