/* general tags */

body {
    width: 100vw;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #eeeeee;
    font-size: 1vw;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}

h1, h2, h3, h4, h5, h6 P{
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3em;
}

p {
    padding: 0;
    margin: 0;
}

hr {
    width: 100%;
    background-color: #333;
    border: none;
}

/* general tags end */





/* Header */

.header {
    width: 100vw;
    display: grid;
    height: 9em;
    background-color: #9A7CC3;
    grid-template-columns: 1fr;
    place-items: center;
    background-color: #9A7CC3;
    border-bottom: solid black 0.2vh;
}

/* Header end */





/* Navbar */

.navbar{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ab91d0;
    margin-bottom: 2.5vw;
    height: 3em;
}

.navbar-section{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, max-content);
}

.navbar-item {
    font-weight: bold;
    font-size: 1em;
    background-color: #ab91d0;
    border: none;
    display: flex;
    align-items: center;
    padding: 0 1vw 0 1vw;
    height: 100%;
}

.navbar-item:hover {
    background-color: #9A7CC3;
}

/* Navbar end */





/* Leaderboard Fullgame start */

.leaderboard {
    width: 95%;
    display: grid;
    grid-template-columns: 4fr 8fr 4fr;
    gap: 2.5vw;
    padding: 0 2.5vw 0 2.5vw;
    align-items: start;
}

.leaderboard-item{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.5vw;
    border: 0.15vw solid #9CC9F5;
    background-color: #ffffff;
    padding: 1em;
    border-radius: 0.5em;
}

.leaderboard-item-header {
    text-align: center;
}

.leaderboard-columns-runs {
    text-align: left;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr 0.75fr 0.75fr;
}

.leaderboard-columns-runs > div:nth-child(5n + 3), 
.leaderboard-columns-runs > div:nth-child(5n + 4), 
.leaderboard-columns-runs > div:nth-child(5n + 5) {
    text-align: center;
}

.leaderboard-recent-runs-columns-runs {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.leaderboard-recent-runs-columns-runs > div:nth-child(2n+2) {
    text-align: center;
}

.nextpage-buttons {
    text-align: center;
}
.nextpage {
    margin: 1vw;
}

.leaderboard-dropdown-ILtoggle {
    display: flex;
    gap: 1vw;
}

.IL-toggle-container {
    background-color: white;
    width: fit-content;
    border: solid 0.15em black;
    border-radius: 0.5em;
    padding: 0.25em;
    height: fit-content;
}

.IL-toggle {
    width: fit-content;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: start;
    height: fit-content;
    gap: 0.5em;
}

.IL-toggle-fullgame {
    height: fit-content;
}
.IL-toggle-IL {
    white-space: nowrap;
    height: fit-content;
}

.leaderboard-dropdown{
    width: 100%;
    z-index: 2;
    height: 2em;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}

.leaderboard-dropdown-buttons {
    padding: 0 0.5em 0 0.5em;
    height: 2.3em;
    display: flex;
    align-items: center;
    justify-content: start;
    background: #9CC9F5;
    display: flex;
    justify-content: space-between; /* pushes items to edges */
    align-items: center; 
}

.leaderboard-dropdown-buttons:hover {
    background-color: #88bdf3;
}

.leaderboard-dropdown-button {
    display: none;
}

.leaderboard-dropdown-open {
    border-radius: 0.25em 0.25em 0.25em 0.25em;
}

.dropdown-arrow {
    text-align: right;
}

.leaderboard-dropdown a:last-child{
    border-radius: 0 0 0.25em 0.25em;
}

.submit-run-button-container {
    height: 100%;
}

.submit-run-button-container {
    border-radius: 0.25em;
    background-color: #9CC9F5;
    height: 100%;
    white-space: nowrap;
    padding: 0 0.5em 0 0.5em;
}

.submit-run-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.column-names {
    font-weight: bold;
}

.leaderboard-row-gap {
    height: 0.08em;
}
/* Leaderboard Fullgame end */

.IL-category-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
}

.IL-category-button, .IL-category-button-match {
    white-space: nowrap;
    width: fit-content;
    padding: 0 0.5em 0 0.5em;
    height: 2.3em;
    display: flex;
    align-items: center;
    justify-content: start;
    background: #9CC9F5;
    display: flex;
    justify-content: space-between; /* pushes items to edges */
    align-items: center;
    border-radius: 0.25em; 
}

.IL-category-button-match {
    background-color: #b59dd6;
}

.IL-category-button:hover {
    background-color: #88bdf3;
}


/* Player Account start */

.player-account{
    width: 90%;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5vw;
    align-items: start;
}

.player-account-category-header {
    font-weight: bold;
    font-size: 2em;
    justify-self: center;
    width: fit-content;
}

.player-account-run {
    font-size: 0.9em;
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 1vw;
    margin-top: 1vw;
    border: solid black 0.15vw;
    border-radius: 0.5vw;
    padding: 0.25em;
}

.player-account-category-group {
    height: fit-content;
    background-color: white;
    border: solid #9CC9F5 0.25vw;
    border-radius: 1vw;
    padding: 1vw;
}

.player-account-3-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3vw;
    row-gap: 2vw;
}

.player-account-run-date-platform {
    justify-self: center;
}

.player-account-run-video-thumbnail {
    justify-self: right;
}

.player-account-row-gap {
    grid-column: 1/-1;
    height: 0.2vw;
    width: 100%;
}

.player-account-level-header {
    justify-self: center;
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 1vw;
}

.player-account-level-gap {
    background-color: #333;
    height: 0.25em;
    width: 100%;
}

.player-account-toggle-buttons {
    display: flex;
    gap: 1vw;
}

.player-account-level-buttons {
    display: flex;
    gap: 0.5vw;
}

.player-account-level-button {
    border: none;
    background-color: #9CC9F5;
    border-radius: 0.25em;
    height: 100%;
}

.player-account-level-button:hover {
    background-color: #88bdf3;
}


/* Player Account end */






/* Individual Run Fullgame */

.individual-run-container, .submit-run-container{
    justify-self: center;
    border: 0.15vw solid #9CC9F5;
    border-radius: 1vw;
    padding: 1vw;
}

.individual-run-path {
    font-size: 1.5em;
    display: flex;
    gap: 0.35vw;
    margin-bottom: 1vw;
}

.individual-run-title {
    font-size: 2em;
}

.individual-run-information-container{
    margin-top: 1vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1vw;
    place-items: start center;
}

.individual-run-information-column{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    row-gap: 2vh;
}

.individual-run-information{
    border-radius: 0.5vw;
    place-items: center;
    display: grid;
    border: 0.15vw solid #9CC9F5;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 0.25vw 0 0.25vw 0;
}

.individual-run-information hr{
    border: none;
    height: 0.1vw;
    background-color: #333;
    width: 90%;
    margin: 0.5vh;
}

/* Individual Run Fullgame end */



/* Submit Run Fullgame start */

.submit-run-form {
    display: flex;
    flex-direction: column;
}

/* Submit Run Fullgame end */






/* Verify Runs start */

.verify-runs-container{
    justify-self: center;
    width: 35vw;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5vw;
    align-items: start;
}

.verify-runs-run {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    margin-bottom: 0.25vw;
    margin-top: 0.25vw;
    border: solid black 0.25vw;
    border-radius: 0.5vw;
    padding: 0.25em;
}