<div class="footer">

    <!--each div is an individual credit + link(s) group-->
    <div class="footer-item">
        <p>
            Credits to speedrun.com api for the data
        </p>
        <a href="https://github.com/speedruncomorg/api/tree/master">Repository</a>
        <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC BY-NC 4.0</a>
    </div>
    <div class="footer-item">
        <p>
            Credits to speedrun.com for the user data
        </p>
        <a href="https://www.speedrun.com/">speedrun.com</a>
    </div>
    <div class="footer-item">
        <p>
            Credits to maddy makes games for the madeline image 
        </p>
        <a href="https://www.mattmakesgames.com/">Maddy Makes Games</a>
    </div>
</div>