<div class="navbar">
    <div class="left-navbar navbar-section">
        <a class="navbar-item" href="/leaderboard_fullgame/30831e37/0">
            Leaderboard
        </a>
        {% if verifier %}
        <a class="navbar-item" href="/verify_runs">
            Verify Runs
        </a>
        {% endif %}
        <form class="nav-bar-search-form" action="/process_player_search" method="POST">
            <input class="nav-bar-search" name="searchs" id="searchs" placeholder="search users">
        </form>
    </div>
    <div class="right-navbar navbar-section">
        {% if logged_in %}
        <a class="navbar-item" href="/player_account_fullgame/{{ logged_in[1] }}">
            {{ logged_in[0] }}
        </a>
        <form method="POST" action="/leaderboard_fullgame/30831e37/0">
            <button class="navbar-item" type="submit">
                logout
            </button>
        </form>
        {% else %}
        <a class="navbar-item" href="/login">
            sign in / sign up
        </a>
        {% endif %}
    </div>
</div>