{% extends "layout.html" %}
{% block content %}


<div class="player-account">
    <div class="IL-toggle-container">
        <div class="IL-toggle">
            <div id="IL-toggle-fullgame" class="IL-toggle-fullgame">
                Fullgame
            </div>
            <div id="IL-toggle-IL" class="IL-toggle-IL">
                <a href="/player_account_individual_level/{{ player_id }}">Individual Level</a>
            </div>
        </div>
    </div>
    <div class="player-account-3-column-grid">
        {% for i in runs %}
        <div class="player-account-category-group">
            <div class="player-account-level-header">
                {{ categories[i] }}
            </div>
            {% for j in runs[i] %}
            <div class="player-account-run">
                <div class="player-account-run-time-place">
                    <p>{{ j[5] }}</p>
                    <a href="/view_fullgame_run/{{ j[0] }}">{{ j[1] }}</a>
                </div>
                <div class="player-account-run-date-platform">
                    <p>{{ j[2] }}</p>
                    <p>{{ j[3] }}</p>
                </div>
                <div class="player-account-run-video-thumbnail">
                    HEHHEHE
                </div>
            </div>
            {% endfor %}
        </div>
        {% if loop.index % 3 == 0%}
        <hr class="player-account-row-gap">
        {% endif %}
        {% endfor %}
    </div>
</div>
<script>
    const IL_toggle_fullgame = document.getElementById('IL-toggle-fullgame')
    IL_toggle_fullgame.style.border = 'solid 0.25em #9CC9F5';
    IL_toggle_fullgame.style.borderRadius = '0.25em';
    IL_toggle_fullgame.style.backgroundColor = '#9CC9F5';
</script>



{% endblock %}