{% extends "layout.html" %}
{% block content %}

<div class="individual-run-container">
  <div class="individual-run-path">
    <a class="individual-run-path-item run-link" href="/leaderboard_individual_level/8099f2fc/0">Leaderboard</a>
    <p class="individual-run-path-item">/</p>
    <!-- individual level leaderboard link-->
    <a class="individual-run-path-item run-link" href="/leaderboard_individual_level/{{ run[3][0] }}/0">{{ run[3][3] }} | {{ run[3][1] }}</a>
  </div>

  <!-- (level) (category) in (run time)-->
  <div class="individual-run-title">
    <p>{{ run[3][3] }} {{ run[3][1] }} in {{ run[1] }}</p>
  </div>
  <!-- if valid run video link show the video else how error image-->
  {% if run[4] %}
  <iframe
    class="individual-run-iframe"
    src="{{ run[4] }}" 
    title="video player" 
    frameborder="0" 
    allowfullscreen>
  </iframe>
  {% else %}
  <img class="video-error-image" src="../static/images/video_error_image.png" alt="video_error_image">
  {% endif %}

  <!-- run information grid-->
  <div class="individual-run-information-container">
    <!--column 1-->
    <div class="individual-run-information-column">
      <div class="individual-run-information">
        <p class="individual-run-information-title">Level</p>
        <hr>
        <p class="individual-run-information-info"> {{ run[3][3] }}</p>
      </div>
      <div class="individual-run-information">
        <p class="individual-run-information-title">Category</p>
        <hr>
        <p class="individual-run-information-info"> {{ run[3][1] }}</p>
      </div>
      <div class="individual-run-information">
        <p class="individual-run-information-title">Platform</p>
        <hr>
        <p class="individual-run-information-info">{{ run[7] }}</p>
      </div>
    </div>
    <!--column 2-->
    <div class="individual-run-information-column">
      <div class="individual-run-information">
        <p class="individual-run-information-title">Player</p>
        <hr>
        <p class="individual-run-information-info">{{ run[6] }}</p>
      </div>
      {% if run[9] %}
      <div class="individual-run-information">
        <p class="individual-run-information-title">Verified</p>
        <hr>
        <p class="individual-run-information-info">{{ run[9] }}</p>
      </div>
      {% endif %}
    </div>
    <!--column 3-->
    <div class="individual-run-information-column">
      {% if run[8] %}
      <div class="individual-run-information">
        <p class="individual-run-information-title">Place</p>
        <hr>
        <p class="individual-run-information-info"> {{ run[8] }}</p>
      </div>
      {% endif %}
      <div class="individual-run-information">
        <p class="individual-run-information-title">Time</p>
        <hr>
        <p class="individual-run-information-info">{{ run[1] }}</p>
      </div>
      <div class="individual-run-information">
        <p class="individual-run-information-title">Date submitted</p>
        <hr>
        <p class="individual-run-information-info">{{ run[2] }}</p>
      </div>
    </div>
  </div>
  <!-- if run isnt verified and you are logged into a verifier account
  then show verify deny buttons-->
  {% if verifier and not run[-1]%}
  <div class="verify-buttons">
    <form action="/verify_run" method="POST">
      <input type="hidden" name="verify_run" value="{{ run[0] }}">
      <input type="hidden" name="verify_deny" value="verify">
      <button class="verify-button" type="submit">Verify</button>
    </form>
    <form action="/verify_run" method="POST">
      <input type="hidden" name="verify_run" value="{{ run[0] }}">
      <input type="hidden" name="verify_deny" value="deny">
      <button class="verify-button" type="submit">Deny</button>
    </form>
  </div>
  {% endif %}

</div>

{% endblock %}