{% extends "layout.html" %}
{% block content %}

<div class="individual-run-container">
  <div class="individual-run-path">
    <a class="individual-run-path-item" href="/leaderboard_fullgame/30831e37/0">Leaderboard</a>
    <p class="individual-run-path-item">/</p>
    <a class="individual-run-path-item" href="/leaderboard_fullgame/{{ run[3] }}/0">{{ run[7] }}</a>
  </div>
  <div class="individual-run-title">
    <p>{{ run[7] }} in {{ run[1] }}</p>
  </div>
  <iframe
    width="800" 
    height="450" 
    src="{{ run[4] }}" 
    title="YouTube video player" 
    frameborder="0" 
    allowfullscreen>
  </iframe>
  <div class="individual-run-information-container">
    <div class="individual-run-information-column">
      <div class="individual-run-information">
        <p class="individual-run-information-title">Category</p>
        <hr>
        <p class="individual-run-information-info"> {{ run[7] }}</p>
      </div>
      <div class="individual-run-information">
        <p class="individual-run-information-title">Platform</p>
        <hr>
        <p class="individual-run-information-info">{{ run[8] }}</p>
      </div>
    </div>
    <div class="individual-run-information-column">
      <div class="individual-run-information">
        <p class="individual-run-information-title">Player</p>
        <hr>
        <p class="individual-run-information-info">{{ run[6] }}</p>
      </div>
      {% if run[10] %}
      <div class="individual-run-information">
        <p class="individual-run-information-title">Verified</p>
        <hr>
        <p class="individual-run-information-info">{{ run[10] }}</p>
      </div>
      {% endif %}
    </div>
    <div class="individual-run-information-column">
      {% if run[9] %}
      <div class="individual-run-information">
        <p class="individual-run-information-title">Place</p>
        <hr>
        <p class="individual-run-information-info"> {{ run[9] }}</p>
      </div>
      {% endif %}
      <div class="individual-run-information">
        <p class="individual-run-information-title">Time</p>
        <hr>
        <p class="individual-run-information-info">{{ run[1] }}</p>
      </div>
      <div class="individual-run-information">
        <p class="individual-run-information-title">Date submitted</p>
        <hr>
        <p class="individual-run-information-info">{{ run[2] }}</p>
      </div>
    </div>
  </div>
  {% if verifier and not run[-1]%}
  <div class="verify-buttons">
    <form action="/verify_run" method="POST">
      <input type="hidden" name="verify_run" value="{{ run[0] }}">
      <input type="hidden" name="verify_deny" value="verify">
      <button type="submit">Verify</button>
    </form>
    <form action="/verify_run" method="POST">
      <input type="hidden" name="verify_run" value="{{ run[0] }}">
      <input type="hidden" name="verify_deny" value="deny">
      <button type="submit">Deny</button>
    </form>
  </div>
  {% endif %}

</div>

{% endblock %}